@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --main-color: rgb(225, 233, 245);
  --accent-color: seagreen;
  --nav-accent: rgb(240, 158, 27);
  --font: 'Gill Sans', 'Gill Sans MT', calibri , 'Trebuchet MS', sans-serif;
  --border-width: 2px;
  --shadow: 3px 3px 6px #aaaaaa;
}

/* universal selector */
/* * {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: var(--font);
  color: var(--accent-color);
  background-color: var(--main-color);
  font-size: 16px;
  text-align: center;
  justify-content: center;
  flex-direction: column;

} */

/* https://stackoverflow.com/questions/60970319/how-to-set-my-background-image-fit-to-screen-in-react*/

/* Begin Header/Navbar */
/* body{
  background-image: url("../public/ptarmigan.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.headerNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: fixed;

}
.developerName{
  padding: 20px 8px 0px 8px;
}
.developerName h1{
  font-size: 39px;
}
.nav-tabs{
  flex-direction: row;
  align-items:flex-start;
  text-decoration: none;
  }

.nav-item{
  display: flex;
  font-size: 1.1rem;
  text-decoration: none;
margin: 0 .25rem 0 .25rem
    
  }

.nav-item a{
  color: var(--accent-color);
}

.nav-item a:hover {
  color:var(--nav-accent);
} */

/* Begin About Me */
/* .aboutMeContainer{
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 70vh;
  position: fixed;
  background-color: transparent;
  justify-content:space-between;
  margin: 9rem 2rem 2rem 13rem
}
.imageContainer{
  width: 25vw;
  height: 70vh;
  position: relative;
  object-fit: cover; */
  /*figure out border 
  
  border-color: var(--accent-color);
  border-width: 20px;

  */
/* }

.imageContainer img{
  width: 32vw;
  height: 75vh;
  object-fit: cover;

}

.textContainer{
  width: 32vw;
  height: 75vh;
  position: relative;
}

.textContainer p{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 70vh;
} */
/* Start Projects */
/* .projectComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-card {
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
  position: relative;
  flex-flow: row wrap;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--accent-color);
  box-shadow: var(--shadow);
  
}

.image-card {
  justify-content: flex-end;
  width: 50vw;
  height: 29vh;
  position: relative;
  background-size: cover;
}

.information-card {
  justify-content: flex-end;
  width: 50vw;
  height: 11vh;
  position: relative;
  background-size: cover;
}

#goalie{
  background-image: url("./goalie.png");
}
#jate{
  background-image: url("./jate.png");
}
#dinner{
  background-image: url("./dinner.png");
}
#quiz{
  background-image: url("./codequiz.png");
}
#weather{
  background-image: url("./workday.png");
}
#workday{
  background-image: url("./weather.png");
} */

/* Start Form CSS */

/* .formContainer {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 70vh;
  position: fixed;
  background-color: transparent;
  justify-content:space-between;
  margin: 9rem 2rem 2rem 13rem
}

.formBox {
  flex-direction: column;
  width: 40vw;
  height: 70vh;
  position: relative;
  justify-content:space-between;
  margin: 9rem 2rem 2rem 13rem
} */

/* Start RESUME

.downloadContainer {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  background-color: transparent;
  justify-content:space-between;
  margin: 9rem 2rem 2rem 13rem
} */


/*Start Footer */
/* .footerContainer{
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 70vh;
  position: fixed;
  background-color: transparent;
  justify-content:space-between;
  margin: 9rem 2rem 2rem 13rem


} */