.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --accent-color: seagreen;
  --main-color: rgb(225, 233, 245);
  --font: 'Gill Sans', 'Gill Sans MT', calibri , 'Trebuchet MS', sans-serif;
  --border-width: 2px;
  --shadow: 3px 3px 6px #aaaaaa;
}

/* universal selector */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: var(--font);
  color: var(--accent-color);
  background-color: var(--main-color);
  font-size: 16px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

/*start header - includes h1 and nav information*/
header {
  padding: 8px;
}

h1,
nav ul { 
  display: flex;
  flex-direction: row;
}

h1 {
  justify-content: flex-start;
  padding: 0 8px 8px 8px;
  font-size: 24px;
}

nav ul {
  padding: 8px 8px 0 8px;
  justify-content: flex-end;
}

nav a {
  padding: 8px;
  text-decoration: none;
}

/*start main & set margin*/
.about,
.about-img,
.project-card-big,
.project-card-small
 {
  flex-wrap: wrap;
  margin: 10px;
}

/* adding flex to sections*/
main,
.ptarmigan,
.flexbox-about,
.center,
.about,
.about-img,
.projects-card,
.project-card-big,
.project-card-small {
  display: flex;
}

/*positioning ptarmiagan ridge image and parent sections including about*/
.ptarmigan,
.flexbox-about{
  width: 100vw;
  height: auto;
}

/*class to center box*/
.center {
  flex-direction: row;
  margin-top: 16px;
  }

/*parent element for about section*/
.flexbox-about {
  justify-content: space-around;
  margin: 0 auto;
  flex-flow: row wrap;
}

/*children in about section*/
.about {
  width: 50vw;
  height: 40vh;
  position: relative;
  background-color: var(--accent-color);
  color: var(--main-color);
  padding: 30px;
}

.about-img {
  justify-content: flex-end;
  width: 40vw;
  height: 40vh;
  position: relative;
  object-fit: cover;
}

/*parent work section*/
.projects-card {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  flex-flow: row wrap;
  
}
/*child larger card*/
.project-card-big {
  justify-content: flex-end;
  width: calc(90vw - 20px);
  height: calc(47vh - 20px);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

/*children small cards*/
.project-card-small {
  justify-content: flex-end;
  width: calc(45vw - 20px);
  height: calc(25vh - 20px);
  position: relative;
  background-size: cover;
}

/*backgroun images for cards
#horiseon{
  background-image: url("./horiseon.png");
}
#portfolio{
  background-image: url("./portfolio.png");
}
#dinner-drinks{
  background-image: url("./dinnerdrinks.png");
}*/


/*borders & shadow*/
.about,
.about-img,
.project-card-big,
.project-card-small {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--accent-color);
  box-shadow: var(--shadow);

}

/*contact me section*/
.contact-me-nav {
  justify-content: center;
}

/*start media section*/

@media screen and (min-width: 768px) {
  .project-card-big {
    width: calc(90vw - 20px);
    height:calc(65vh - 20px);
    min-width: 60%;
    min-height: 50%;
    }

  .project-card-small {
    width: calc(45vw - 20px);
    height:calc(35vh - 20px);
    min-width: 40%;
    min-height: 40%;
    }

  .about {
    min-width: 40%;
    flex-grow: 0;
    font-size: 16px;
    padding: 50px;
    }

  .about-img{
    min-width: 35%;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
    }

  .project-card-big {
    min-width: 50%;
    min-height: 70%;
    width: calc(50vw - 20px);
    height: calc(62vh - 20px);
    }

  .project-card-small {
    width: calc(25vw - 20px);
    height:calc(42vh - 20px);
    min-width: 31%;
    min-height: 50%;
    }

  .about{
    font-size: 16px;
    padding: 50px;
    width: calc(25vw - 20px);
    height: calc(60vh - 20px);
    min-width: 25%;
    min-height: 50%;
    margin-left: calc(23vw - 20px);
    }

  .about-img{
    width: calc(25vw - 20px);
    height: calc(60vh - 20px);
    min-width: 25%;
    min-height: 50%;
    margin-right: calc(23vw - 20px);
    }
  }
